<div id="homeHeader">
    <h1>Story</h1>
    <i>Gérer les stories du projet</i>
    <br> <br>
</div>

{{#ui-form newValue=model.story  oldValue=model.oldProject validation="save" cancel="cancel" bigIcon='file' smallIcon='plus' header=model.project.name}}

  <div class="field">
    <label for="code">Code</label>
    {{input id="code" placeholder="Code" value=model.story.code}}
  </div>
  <div class="field">
    <label for="description">Description</label>
    {{textarea id="description" placeholder="Description" value=model.story.description}}
  </div>
  <div class="field">
    <label for="developer">Developpeur</label>
    {{multi-select selected=model.idDeveloper name="developer" placeholder="Developer" elements=model.developers selectedElements=model.story.developer}}
  </div>
  <div class="field">
      <label for="description">Choisir un tag</label>
      <div class="ui action input">
          <div id="ddTags" class="ui dropdown multiple selection search" style="min-width: 32.5em!important;">
              {{input value=model.idTags type="hidden"}}
              <div class="default text">Tag</div>
              <div class="menu">
                  {{#each model.tags as |tag|}}
                      <div class="item" data-value="{{tag.id}}">
                          <div class="ui {{tag.color}} empty circular label"></div>
                          {{tag.title}}
                      </div>
                  {{/each}}
              </div>
          </div>
          <a class="ui button" {{action "newTag" model.tag model}}>Editer tag</a>
      </div>
  </div>
  <div class="field">
      <label for="description">Créer un nouveau tag</label>
      <div class="ui action input" >
          {{input placeholder="tag..." value=model.tag.title class="libelleTag"}}
          <select class="ui selection dropdown" onchange={{action (mut model.tag.color) value="target.value"}}>
          {{#each model.colors as |color|}}
              <option value="{{color}}" >{{color}}</option>
          {{/each}}
          </select>
          <a class="ui button" {{action "newTag" model.tag model}}>Nouveau tag</a>
      </div>
  </div>
{{/ui-form}}

{{outlet}}

<footer style="text-align: center">2 SIO | 2018 © Tous droits réservés</footer>