<div id="homeHeader">
    <h1>Inscrivez-vous</h1>
    <i>Bénéficiez  de nombreux avantages en vous inscrivant dès maintenant</i>
    <br> <br>
</div>

{{#ui-form newValue=model  validation="save"}}
    <div class="ui form" style="margin-bottom: 25px; text-align: center">
        <div class="inline fields">
            <div class="field">
                <label id="" class="inputLabel" for="frmEdit-nom">Nom</label>
                <div id="div-frmEdit-nom" class="ui input">
                    {{input id="frmEdit-nom" value=model.nom placeholder="Nom"}}
                </div>
            </div>
        </div>

        <div class="inline fields">
            <div class="field">
                <label id="" class="inputLabel" for="frmEdit-prenom">Prénom</label>
                <div id="div-frmEdit-prenom" class="ui input">
                    {{input id="frmEdit-prenom" value=model.prenom placeholder="Prénom"}}
                </div>
            </div>
        </div>

        <div class="inline fields">
            <div class="field">
                <label id="" class="inputLabel" for="frmEdit-pseudo">Pseudo</label>
                <div id="div-frmEdit-pseudo" class="ui input">
                    {{input id="frmEdit-pseudo" value=model.pseudo placeholder="Pseudo"}}
                </div>
            </div>
        </div>

        <div class="inline fields">
            <div class="field">
                <label for="genre" class="inputLabel">Genre</label>
                {{multi-select id="genreInput" selected=model.genre name="genre" placeholder="Genre" elements=model.genre selectedElements=model.genre}}
            </div>
        </div>

        <div class="inline fields">
            <div class="field">
                <label id="" class="inputLabel" for="frmEdit-email">Email</label>
                <div id="div-frmEdit-email" class="ui input">
                    {{input id="frmEdit-email" value=model.email placeholder="Email"}}
                </div>
            </div>
        </div>

        <div class="inline fields">
            <div class="field">
                <label id="" class="inputLabel" for="frmEdit-mdp">Mot de passe</label>
                <div id="div-frmEdit-mdp" class="ui input">
                    {{input id="frmEdit-mdp" value=model.password placeholder="Mot de passe" type="password"}}
                </div>
            </div>
        </div>

        <div class="inline fields">
            <div class="field">
                <label id="" class="inputLabel" for="frmEdit-confirmemdp">Confirmation</label>
                <div id="div-frmEdit-confirmemdp" class="ui input">
                    {{input id="frmEdit-confirmmdp" value=model.passwordConfirm placeholder="Confirmer" type="password"}}
                </div>
            </div>
        </div>

        <!--<div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="example">
                <label>Accepter les conditions d'utilisation</label>
            </div>
        </div>-->

    </div>
{{/ui-form}}

<footer style="text-align: center; margin-bottom: 15px">2 SIO | 2018 &copy; Tous droits réservés</footer>

{{outlet}}

{{notification-container position="top-right"}}