<div>
  <form>
      <div class="field">
        <label id="" class="" for="frmEdit-nom">Nom</label>
          <div id="div-frmEdit-nom" class="ui input">
            {{input id="frmEdit-nom" value=model.identity placeholder="Nom"}}
          </div>
        <br>
        <label id="" class="" for="frmEdit-prenom">Prénom</label>
          <div id="div-frmEdit-prenom" class="ui input">
            {{input id="frmEdit-prenom" value=model.identity placeholder="Prénom"}}
          </div>
        <br>
        <label id="" class="" for="frmEdit-pseudo">Pseudo</label>
          <div id="div-frmEdit-pseudo" class="ui input">
            {{input id="frmEdit-pseudo" value=model.identity placeholder="Pseudo"}}
          </div>
        <br>
        {{#ui-dropdown class="selection" selected=gender2 onChange=(action (mut gender2)) as |execute mapper|}}
          <i class="dropdown icon"></i>
          <div class="default text">Genre</div>
          <div class="menu">
            <div class="item" data-value="1">Masculin</div>
            <div class="item" data-value="0">Feminin</div>
          </div>
        {{/ui-dropdown}}
        <br>
        <label id="" class="" for="frmEdit-email">Email</label>
          <div id="div-frmEdit-email" class="ui input">
            {{input id="frmEdit-email" value=model.identity placeholder="Email"}}
          </div>
        <br>
        <label id="" class="" for="frmEdit-mdp">Mot de passe</label>
          <div id="div-frmEdit-mdp" class="ui input">
            {{input id="frmEdit-mdp" value=model.identity placeholder="Mdp"}}
          </div>
        <br>
        <label id="" class="" for="frmEdit-confirmemdp">Confirmer mot de passe</label>
        <div id="div-frmEdit-confirmemdp" class="ui input">
          {{input id="frmEdit-confirmmdp" value=model.identity placeholder="Mdp"}}
        </div>
        <br>
        <div class="ui checkbox">
          <input type="checkbox" name="example">
          <label>Accepter les conditions d'utilisation</label>
        </div>
        <br>
        <button class="ui green button">Green</button>
      </div>
  </form>

</div>
{{outlet}}